.btn_bggray{
    @include btn_box(auto , 32px , $font - 2px);
    padding:0 20px;
    background: $web1;
    &.cur , &:hover{
        color:$clink;
    }

}

.btn_check_bun{
    @include btn_box(50px , 50px , $font);
    color:$cfont; border:1px solid $cborder;
    &:hover{
        background: $web1;
    }
    &.cur{
        background: $clink url("../images/ico_right.png") no-repeat right 3px  bottom 2px; color: $white; border-color:$clink;
    }
}

.btn_big{
    @include btn_box(180px , 45px , $font + 4px);
    color:$white; background: $clink;
    &:hover{
        background: darken($clink, 10%);
    }
}

.btn_small{
    @include btn_box(90px , 32px , $font);
    color:$white; background: $clink;
    &:hover{
        background: darken($clink, 10%);
    }
}

.btn_check_cube{
    @extend  %box;
    display: inline-block; cursor: pointer;
    font-size: $font - 2px;  line-height: 1.5;
    color:lighten($cfont , 20%);
    &:hover{
        color:$clink;
    }
    .checkbox{
        @extend %box;
        display:inline-block; vertical-align: middle;
        width: 14px; height: 14px; margin-top: -2px; margin-right: 4px;
        border:1px solid $cborder; background:#fff;
    }
    &.cur{
        color:$clink;
        .checkbox{
            background:#fff url("../images/ico_check.png") no-repeat center;
        }
    }
}

.btn_to_content{
    @extend %box;
    display: block;
    width: 250px; height: 300px;
    border:1px solid lighten($cborder , 4%);
    span{
         text-align: center; display: inline-block;
         width: 100%;
    }
    .img_box{
        @extend %flexbox;
        width: 100%; height: 200px;
        img{max-width: 100%; max-height: 100%;}
    }
    .brand_name{
        font-size: $font + 2px; color:darken($cfont, 20%); padding-bottom: 8px;
    }
    .brand_info{
        font-size: $font; color:$cfont; line-height: 20px;
    }
    &:hover{
        border-color:$clink;
    }
}

.btn_more{
    display: inline-block; vertical-align: top;
    font-size: 12px; width: 50px;
    color:#666;
    .arrow{
        display: inline-block;
        transform:rotate(-90deg) scale(1.0 , 1.5);  font-size: 12px; margin-right: 4px;
    }
    &:hover{
        color:$clink;
    }
    &.contract{
        .arrow{
            transform:rotate(90deg) scale(1.0 , 1.5);
        }
    }
}


.btn_brand_show{
    @extend %box;
    display: block; position: relative;
    width: 200px; height: 120px; padding-top:40px;
    border:1px solid lighten($cborder , 5%);
    span{
        display: inline-block; text-align: center;
        width: 100%;
    }
    .bs_brand_name{
        @extend %hold;
        font-size: $font + 8px; width: 100%;
        color:#000;
    }
    .red{
        color:#f00;
    }
    .bs_brand_classify{
        font-size: $font - 2px;
        color:lighten($cfont , 20%);
    }
    &:hover{
        border-color:#EEF3FA;  background:#EEF3FA;
    }
    .othe_info{
        position: absolute;
        width: 54px; height: 21px; line-height: 21px; text-indent: 5px; text-align: left; font-size: 12px; top:0; left:0;
        color:#fff; background: url("../images/ico_01.png") no-repeat center;
    }
}










//end
