
/**
 *
 * mixin code
 * 使用 @include 引入
 *
 */
@mixin fixed($width , $height){ position:fixed; left:50%; top:50%;  margin-left:-1 * $width/2; margin-top:-1 * $height/2; z-index:10; }


@mixin img_center($father:false){
    @if $father {
        display: table; text-align: center;
    } @else {
        display: table-cell; vertical-align: middle;
    }
}

@mixin btn_box($width , $height, $size ){
    width:$width; height:$height; line-height:$height; text-align: center; font-size:$size; box-sizing:border-box; display:block;
}

@mixin inp_box($width , $height , $padding , $size ){
    width:$width; height:$height; line-height:$height; padding-left: $padding; font-size:$size; box-sizing:border-box; display:block;
}

@mixin nav($width , $height ){
    width: $width; height:$height; margin: 0 auto; overflow: hidden;
    a{
        float: left; display:block;
    }
}

@mixin list ( $width  ){
    width:$width;
    li{
        @extend %hold; width:$width;
    }
}

@mixin arrow($direction,  $size,  $color) {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: $size;
    @if $direction == top {
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $color transparent;
        border-top: none;
    }
    @else if $direction == bottom {
        border-style: solid dashed dashed dashed;
        border-color: $color transparent transparent transparent;
        border-bottom: none;
    }
    @else if $direction == right {
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent $color;
        border-right: none;
    }
    @else if $direction == left {
        border-style: dashed solid dashed dashed;
        border-color: transparent $color transparent transparent;
        border-left: none;
    }
}
@mixin arrow_askew($direction,  $size,  $color){
    width: 0;
    height: 0;
    overflow: hidden;
    @if $direction == top-left {
        border-width: $size $size 0 0;
        border-style: solid ;
        border-color: $color transparent  transparent  transparent ;
    }
    @if $direction == top-right {
        border-width: 0 $size $size 0;
        border-style: solid ;
        border-color: transparent $color  transparent  transparent ;
    }
    @if $direction == bottom-right {
        border-width: 0 0 $size $size;
        border-style: solid ;
        border-color:  transparent  transparent $color transparent ;
    }
    @if $direction == bottom-left {
        border-width: $size 0 0 $size;
        border-style: solid ;
        border-color: transparent  transparent  transparent $color  ;
    }
}



/**
 *
 * 使用  @extend  引入
 * placeholder code
 *
 */
%flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}


%hold{
    display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

%shadow{box-shadow:0px 0px 15px rgba(0,0,0,0.15);}

%hover_show{
    .show{display: none;}
    &:hover{
        .show{display: block;}
    }
}

%box{box-sizing: border-box;}





//end
