/*font-size*/
$font : 14px;
$fonts : 12px;

/*color*/
$cfont : #333;
$cborder : #d8d8d8 ;
$clink : #3385ff;
$cbtn : #f60;

/*webcolor*/
$colorbg : #fff;
$white : #fff;
$web1 : #f2f2f2;


 /**
  * #333 = b -> 20%
  * darken ( 色值 -> 灰度结果值 ) :  #666 -> 40% , #999 -> 60% ,  #ccc -> 80% , #ddd -> 87% ， #eee -> 93%
  *         以上为常用灰色灰度百分比，酌情使用
  */
