.search_type{
    margin: 0 auto; 
    border-bottom:1px solid lighten($cborder , 4%);
    .brand_trade{
        border-bottom:1px solid $cborder; padding-bottom: 15px;
        .brand_trand_title{
            vertical-align: top;
            font-size: $font + 2px; width: 100px; line-height: 32px;
            color:$cfont;
        }
        .brand_trand_box{
            a.btn_bggray{
                float: left;
                margin-right: 5px; margin-bottom: 15px; min-width: 9.7%;
            }
        }
    }
    .brand_classify{
        padding-bottom: 15px; width: 100%;
        table{width: 100%;}
        .brand_classify_title{
            vertical-align: top;
            font-size: $font ; width: 80px;
            color:$cfont;
        }
        .brand_classify_box{
            display: inline-block;
            width: 100%;
            .bc_list{
                overflow: hidden; display: inline-block;
                width: 90%;
                &.show_all{
                    height: auto;
                }
            }
            .btn_check_cube{
                float: left;  width: 140px; 
            }
            
        }
        .btn_small{
            margin:20px auto 0 ;
            &.not{
                cursor: default;
                background: darken($web1 , 10%); color:$cfont;
            }
        }
        .td_check{
            .all_check{ 
                width: 60px;  vertical-align: top; margin-top: -2px;
                .checkbox{margin-left: 4px;}
            }
        }
    }
    .search_type_show{
        padding-bottom: 30px; 
    }
}


.search_result{
    overflow: hidden;
    margin: 0 auto;
    .search_number{
        font-size: $font; margin-top: 20px;
        color:$cfont;
    }
    .red{
        color:#f00;
    }
    .search_list{
        overflow: hidden;
        margin-top: 10px; width: 100%;
        .box{
            width: 105%; overflow: hidden;
        }
        .btn_brand_show{
            float: left;
            margin-right: 6px; margin-bottom: 6px;
        }
    }
    .pages{
        float: right;
    }
}

.search_none{
    padding-top: 30px;
    p{
        @extend %box;
        font-size: $font + 4px; line-height: 130px; padding-left: 170px; width: 450px; margin:0 auto;
        color:lighten($cfont , 20%); background: url("../images/img_nothing.png") no-repeat left center;
    }
}









//end
